@charset "UTF-8";

:root{
    --cor1: #11D9F0;
    --cor2: #33AFBD;
    --cor3: #41828A;
    --cor4: #3A5457;
    --cor5: #2C3233;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #3A5457;
}

header{
    display: flex;
    width: 100%;
    justify-content: space-around;
    background-color: var(--cor3);
    position: sticky;
    top: 1px;
    bottom: 10px;
}

p{
    text-align: justify;
    line-height: 2em;
}

header > h1{
    padding: 20px;
}

nav > ul{
    padding: 20px;
    display: flex;
}

nav > ul > li{
    display: block;
    margin: 10px;
    list-style-type: none;
}

main{
    margin: auto;
    background-color: #ffffff;
    width: 65%;
}

section#inicio, section#sobre, section#projetos, section#contatos{
    padding: 20px;
    height: 90vh;
    background-color: #11D9F0;
}

section#inicio > div.direita{
    width: 25vw;
    padding: 10px;
}

div.direita > h1{
    padding: 10px;
    text-align: center;
}

div.botao1{
    position: relative;
    height: 30vh;
}

div.botao1 > button{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    border: 1px solid #0000cd;
    border-radius: 20px;
    background-color: #0000cd;
}

div.botao1 > button > a{
    display: inline-block;
    padding: 18px;
    text-decoration: none;
    color: #ffffff;
}